@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #1e252b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

/* Общие стили */
a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  border: 0;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.oranjetext {
  color: #ff6e30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.btn-wthborder {
  border: solid;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.1);
}

.btn-active {
  display: flex;
  background-color: #ff6e30;
  color: #fff;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
}

p {
  opacity: 0.55;
}

input {
  color: #fff;
}

.header {
  padding-top: 20px;
  padding-bottom: 65.5px;
}

.header .container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo-text {
  font-weight: 600;
  font-size: 22px;
}

.header__nav {
  max-width: 430px;
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  position: relative;
}

.header__nav-item {
  opacity: 0.55;
  transition: all 0.2s ease-in;
}

.header__nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.header__nav-item:hover {
  color: #fff;
  opacity: 1;
}

.header__register {
  display: flex;
  align-items: center;
}

.header__register .btn {
  opacity: 0.78;
  transition: all 0.2s ease-in;
}

.header__register .btn:hover {
  opacity: 1;
}

.header__nav-submenu {
  display: none;
}

.header__nav-item a:focus ~ .header__nav-submenu,
.header__nav-item a:active ~ .header__nav-submenu {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  right: 50%;
}

.header__nav-submenu li {
  background-color: #283036;
  border-radius: 25px;
}

.header__nav-submenu li a {
  padding: 16px 24px;
}

.welcome {
  padding-top: 110px;
  box-sizing: border-box;
  background-image: url(/images/welcome.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.welcome .welcome__socials {
  margin-top: 110px;
}

.welcome__text {
  width: 600px;
}

.welcome__title {
  font-size: 50px;
  padding-bottom: 30px;
}

.welcome__desc {
  padding-bottom: 60px;
}

.welcome__form {
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: #283036;
  border-radius: 15px;
  align-items: center;
  height: 65px;
}

.welcome__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.welcome__input {
  background-color: #283036;
  border: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
}

.welcome__form img {
  height: 25px;
  margin: 0 10px;
}

.welcome__button {
  margin-right: 10px;
  padding: 17px 40px;
  width: 130px;
  overflow: hidden;
  box-sizing: border-box;
}

.tools {
  padding-top: 200px;
}

.tools__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 90px;
}

.tools__card:hover {
  background: radial-gradient(circle at 85% 5%, rgba(255, 110, 48, 0.25), #283036 20%);
  box-shadow: 0 5px rgba(0, 0, 0, 0.15);
  transform: translateY(-20px);
  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}

.tools__card:hover .tools__card-title {
  opacity: 1;
}

.tools__title {
  font-size: 48px;
}

.tools__desc {
  font-size: 18px;
}

.tools__card {
  background: #1e252b;
  max-width: 400px;
  max-height: 300px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  outline: 0px solid rgba(255, 255, 255, 0.05);
}

.tools__card * {
  transition: all 0.2s ease-in;
}

.tools__card-container {
  padding: 33px;
}

.tools__card-tool {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.tools__card-tool img {
  padding-right: 30px;
}

.tools__card-img {
  width: 28px;
  height: 28px;
}

.tools__card-title {
  font-weight: 500;
  font-size: 24px;
  opacity: 0.78;
}

.tools__card-price {
  color: #ffa537;
  opacity: 0.55;
}

.tools__card:hover .tools__card-price {
  opacity: 1;
}

.tools__card:hover .tools__card-desc {
  opacity: 1;
}

.tools__card-desc {
  padding-bottom: 30px;
}

.tools__card-footer {
  display: flex;
  justify-content: space-between;
}

.tools__card-icons {
  display: flex;
  gap: 28px;
}

.tools__card-icon {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #1e252b;
}

.tools__card:hover .tools__card-icon {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.tools__card .btn {
  border-radius: 8px;
}

.tools__card:hover .btn {
  background-color: #ff6e30;
  color: #fff;
  opacity: 1;
  text-align: center;
}

.tools__list {
  display: flex;
  flex-wrap: wrap;
}

.tools__list-upper,
.tools__list-lower {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.tools__list-upper {
  margin-bottom: 100px;
}

.tools__btn {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.tools__btn a {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 200px;
  box-sizing: border-box;
  width: 185px;
  height: 65px;
}

.newcomer .container {
  display: flex;
  justify-content: space-between;
}

.newcomer__text {
  width: 430px;
  height: 300px;
  line-height: 30px;
}

.newcomer__title {
  font-size: 48px;
  font-weight: medium;
  padding-bottom: 30px;
  padding-top: 20px;
}

.newcomer__desc {
  font-size: 18px;
  font-weight: medium;
  padding-bottom: 60px;
}

.newcomer__text a.btn-active {
  width: 200px;
  height: 60px;
}

.newcomer__cards {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.newcomer__cards a.btn-active {
  width: 106px;
  height: 42px;
  margin-left: 43px;
}

.newcomer .tools__card {
  width: 290px;
  height: 290px;
}

.newcomer .tools__card--active {
  background: url(images/activebg-small.png) no-repeat cover;
}

.tools__card-desc {
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
}

.newcomer .tools__card-icons {
  gap: 12px;
}

.brand {
  padding-bottom: 200px;
}

.brand .container {
  height: 250px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(135deg, rgba(255, 72, 66, 0.4), #283036 10%);
}

.brand__text {
  padding: 55px 0;
  display: flex;
  justify-content: center;
}

.brand__title {
  font-size: 24px;
  font-weight: medium;
  opacity: 0.8;
}

.brand__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 82px;
}/*# sourceMappingURL=styles.css.map */