.tools {
  padding-top: 200px;
}

.tools__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 90px;
}

.tools__card:hover {
  background: radial-gradient(
    circle at 85% 5%,
    rgba($color-orange, 0.25),
    $color-light-gray 20%
  );

  box-shadow: 0 5px rgba(0, 0, 0, 0.15);
  transform: translateY(-20px);

  outline: 2px solid rgba(255, 255, 255, 0.05);
  outline-offset: -2px;
}

.tools__card:hover .tools__card-title {
  opacity: 1;
}

.tools__title {
  font-size: 48px;
}

.tools__desc {
  font-size: 18px;
}

.tools__card {
  background: $color-dark-gray;
  max-width: 400px;
  max-height: 300px;
  border-radius: 15px;
  transition: $transition;
  outline: 0px solid rgba(255, 255, 255, 0.05);
}

.tools__card * {
  transition: $transition;
}

.tools__card-container {
  padding: 33px;
}

.tools__card-tool {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.tools__card-tool img {
  padding-right: 30px;
}

.tools__card-img {
  width: 28px;
  height: 28px;
}

.tools__card-title {
  font-weight: 500;
  font-size: 24px;
  opacity: 0.78;
}

.tools__card-price {
  color: $color-yellow;
  opacity: 0.55;
}

.tools__card:hover .tools__card-price {
  opacity: 1;
}
.tools__card:hover .tools__card-desc {
  opacity: 1;
}

.tools__card-desc {
  padding-bottom: 30px;
}

.tools__card-footer {
  display: flex;
  justify-content: space-between;
}

.tools__card-icons {
  display: flex;
  gap: 28px;
}

.tools__card-icon {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $color-dark-gray;
}

.tools__card:hover .tools__card-icon {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.tools__card .btn {
  border-radius: 8px;
}

.tools__card:hover .btn {
  background-color: $color-orange;
  color: $color-light;
  opacity: 1;
  text-align: center;
}

.tools__list {
  display: flex;
  flex-wrap: wrap;
}

.tools__list-upper,
.tools__list-lower {
  display: flex;
  column-gap: 20px;
}

.tools__list-upper {
  margin-bottom: 100px;
}

.tools__btn {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.tools__btn a {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 200px;
  box-sizing: border-box;
  width: 185px;
  height: 65px;
}
