.welcome {
  padding-top: 110px;
  box-sizing: border-box;
  background-image: url(/images/welcome.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  flex: auto;
}

.welcome .welcome__socials {
  margin-top: 110px;
}

.welcome__text {
  width: 600px;
}

.welcome__title {
  font-size: 50px;
  padding-bottom: 30px;
}

.welcome__desc {
  padding-bottom: 60px;
}

.welcome__form {
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: $color-light-gray;
  border-radius: 15px;
  align-items: center;
  height: 65px;
}

.welcome__socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.welcome__input {
  background-color: $color-light-gray;
  border: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
}

.welcome__form img {
  height: 25px;
  margin: 0 10px;
}

.welcome__button {
  margin-right: 10px;
  padding: 17px 40px;
  width: 130px;
  overflow: hidden;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  welcome {
    text-align: center;
    background-position: center;
  }

  .welcome__text {
    width: 100%;
  }

  .welcome__title {
    font-size: 36px;
  }

  .welcome__form {
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
  }

  .welcome__input {
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
  }

  .welcome__button {
    width: 100%;
    padding: 10px 30px;
  }

  .welcome__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: #283036;
    margin: 20px 0;
    height: 55px;
  }

  .welcome__input {
    width: 65%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0 10px;
    font-size: 16px;
  }

  .welcome__input::placeholder {
    color: #fff;
    opacity: 0.6;
  }

  .welcome__form img {
    height: 22px;
    width: 22px;
  }

  .welcome__button {
    background-color: #ff6e30;
    color: #fff;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
