@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

$color-orange: #ff6e30;
$color-yellow: #ffa537;
$color-light: #fff;
$color-black: #000;
$color-dark-gray: #1e252b;
$color-light-gray: #283036;

$transition: all 0.2s ease-in;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  background-color: $color-dark-gray;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $color-light;
}

/* Общие стили */

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  border: 0;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.oranjetext {
  color: $color-orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.btn {
  display: flex;
  width: 120px;
  height: 50px;

  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.btn-wthborder {
  border: solid;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.1);
}

.btn-active {
  display: flex;
  background-color: $color-orange;
  color: $color-light;
  opacity: 1;
  border-radius: 8px;
  text-align: center;
}

p {
  opacity: 0.55;
}

input {
  color: $color-light;
}
